<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Vinicius, Zillaine, Malvgomes, SrFreitas">

  <title>Trabalho "GWT"</title>

  <!-- Bootstrap core CSS-->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/sheet.css" rel="stylesheet">
  <script src="/static/vendor/jquery/jquery.min.js" type="text/javascript"></script>
  
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a style="color: white">GRUPO 7</a>
  </nav>

  <div class="content-fluid">
    <div id="menu" class="row" style="text-align: center">
      <div class="col"><a href="preco_temporada">CRUD Preço por Temporada</a></div>
      <div class="col"><a href="tipo_quarto">CRUD Tipo de quarto</a></div>
      <div class="col"><a href="quarto">CRUD Quarto</a></div>
    </div>
    {% block content %}{% endblock %}
  </div>
  <!-- Footer -->
  <footer class="page-footer py-3 bg-dark fixed-bottom">
    <div id="footer-elements" class="container">
      <p class="m-0 text-center text-white">Participantes</p>
      <p class="m-0 text-center text-white">Vinicius França, Samuel Freitas, Gustavo Zille, Matheus Alves</p>
      <p class="m-0 text-center text-white">Engenharia de Software</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
