{% extends 'index.html' %}

{% block content %}
<div class="row" style="margin: 0px!important;">
    <div class="col" style="height: 450px; overflow: auto;">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Tipo de Quarto</th>
                <th scope="col">Número do Quarto</th>
                <th scope="col">Hotel</th>
                <th scope="col">Remover</th>
                <th scope="col">Atualizar</th>
            </tr>
            </thead>
            <tbody>
            {% for quarto in quartos %}
            <tr>
                <td>{{ quarto[2] }}</td>
                <td>{{ quarto[1] }}</td>
                <td>{{ quarto[3] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}