{% extends 'index.html' %}

{% block content %}
<div class="row" style="margin: 0px!important;">
    <div class="col">
        <div style="text-align: right;">
            <form method="get" action="reserva_pacote" id="formCidade" style="margin-bottom: 15px;">
                <label for="cidade">Insira a cidade </label>
                <input id="cidade" type="text" name="cidade" required>
                <button onclick="filtrarCarros()" class="btn btn-dark" type="submit" form="formCidade">Filtrar</button>
            </form>
        </div>

        <form method="post">
            <div class="form-group">
                <label for="id_quarto">Quartos disponíveis</label>
                <select name="id_quarto" class="custom-select">
                    {% for quarto in quartos %}
                        <option value="{{ quarto[0] }}">Cidade: {{ quarto[4] }} - Hotel: {{ quarto[3] }} - Tipo de Quarto: {{ quarto[2] }} - N: {{ quarto[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="id_carro">Carros disponíveis</label>
                <select id="select-carros" name="id_carro" class="custom-select">
                    <!-- Options included by JQuery. -->
                </select>
            </div>
            <div class="form-group">
                <label for="dt_inicio">Data de Início</label>
                <input class="form-control" type="date" name="dt_inicio" required>
            </div>
            <div class="form-group">
                <label for="dt_fim">Data de Fim</label>
                <input class="form-control" type="date" name="dt_fim" required>
            </div>
            <button type="submit" class="btn btn-dark btn-lg btn-block">Reservar</button>
        </form>

        {% if mostra_aviso %}
          <div class="alert alert-danger" role="alert" style="margin-top: 30px;">
            <strong>Ops!</strong> Quarto já reservado para o período.
          </div>
        {% endif %}
    </div>
</div>
{% endblock %}