{% extends 'index.html' %}

{% block content %}
<div class="row" style="margin: 0px!important;">
    <div class="col" style="height: 450px; overflow: auto;">
		<table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Tipo de Quarto</th>
                    <th scope="col">Remover</th>
                    <th scope="col">Atualizar</th>
                </tr>
            </thead>
            <tbody>
                {% for tipo in tipos_quarto %}
                <tr>
                    <td>{{ tipo[1] }}</td>
                    <td style="text-align: center;">
                        <form method="get" action="tipoquarto" id="formDelete{{ tipo[0] }}">
                            <input type="hidden" name="delete" value="{{ tipo[0] }}">
                            <button class="btn btn-dark" type="submit" form="formDelete{{ tipo[0] }}">X</button>
                        </form>
                    </td>
                    <td style="text-align: center;">
                        <form method="get" action="update" id="formUpdate{{ tipo[0] }}">
                            <input type="hidden" name="type" value="1">
                            <input type="hidden" name="update" value="{{ tipo[0] }}">
                            <button class="btn btn-dark" type="submit" form="formUpdate{{ tipo[0] }}">U</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
		</table>
    </div>

    <div class="col">
		<form method="post">
            <div class="form-group">
                <label for="tipo_quarto">Novo tipo de quarto:</label>
                <input class="form-control" type="text" name="tipo_quarto" placeholder="Entre com o tipo de quarto" required>
            </div>

            <button type="submit" class="btn btn-dark btn-lg btn-block">Inserir</button>
        </form>

        {% if mostra_aviso %}
            <div class="alert alert-danger" role="alert" style="margin-top: 56px;">
                <strong>Ops!</strong> Tipo já existente.
            </div>
        {% endif %}
	</div>
</div>
{% endblock %}